@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    This database I have created is to store employee information at a small business or company.
                    On the website, it should show Employee info such as name,email,phone,id etc... and also link it to the SalesMade table by including the foreign key of SaleID.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    On the website, it should show Employee info such as name,email,phone,id etc... and also link it to the SalesMade table by including the foreign key of SaleID.
                </p>
            </div>
        </div>
    </div>
    
        
    
</div>